* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Gill Sans", sans-serif;
}

h1,
h2 {
	color: #2F5496;
}

hr {
	border: none;
	background-color: #2f8696;
	color: #722f96;
	height: 1.5px;
	margin: 20px 0 20px 0;
}

.container {
	margin: 0 auto;
	max-width: 1440px;
}

.container img{
	border-radius: 50%;
	width: 300px;
	height: 300px;
	margin-bottom: 20px;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
}

.nav-item {
	list-style-type: none;
	padding: 30px;
}

.nav-link {
	text-decoration: none;
	list-style-type: none;
	font-size: 20px;
	color: #2f8696;
}

.nav-link:hover {
color: black;
}

.footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.icon-github {
	display: flex;
	align-items: center;
}

.copyright {
	font-size: 22px;
}